<body>
<div class='body'>
<div class="container clearfix"></div>
    <div class="example">
    <%= image_tag 'MUSIC.jpg' %><br>
<p>with musicは音楽がより日常に根付く為に、音楽の情報を広められる様に考えられた"場"です。<br>
情報共有をして今より音楽が楽しめます様に。。。<i class="fas fa-music"></i>
</p>
</div>
</div>
</body>