<div id="container">
  <div id="theTarget">
    <div class="about1">with musicは音楽がより日常に根付く為に、</div>
    <div class="about2">音楽の情報を広められる様に考えられた"場"です。</div>
    <div class="about3">情報共有を通して</div>
    <div class="about4">今より音楽が楽しめます様に...</div>
    <div class="about5">with music is a place designed to spread information<br> 
    about music so that music can take root in everyday life.<br> 
    We hope you can enjoy your music through information sharing...thank you!!</div>
  </div>
</div>