  <div id="container">
  <div id="theTarget">
    <div class="MUSIC1"></div>
    <div class="MUSIC2"></div>
    <div class="MUSIC3"></div>
    <div class="MUSIC4"></div>
    <div class="MUSIC5"></div>
  </div>
</div>
