  <div id="container">
  <div id="theTarget">
    <div class="MUSIC1">with music</div>
    <div class="MUSIC2">The music is great!!</div>
    <div class="MUSIC3">I think music has power.</div>
    <div class="MUSIC4">May each day</div>
    <div class="MUSIC5">have important music.</div>
  </div>
</div>
