/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
 }
.text-muted{
	font-size:30px;
  Color:#FFFFFF;
  text-align: center;

}
.footer {
	background-color:black;
	color: white;
}
.newbody{
  background-color: #EEEEEE;
  text-align: center;
}
.editbody {
  background-color: #EEEEEE;
  text-align: center;
}
.showbody {
  background-color: #EEEEEE;
}
.indexbody {
  background-color: #EEEEEE;
}
.userindex {
  background-color: #EEEEEE;
}
.usershow {
  background-color: #EEEEEE;
}
.useredit {
  background-color: #EEEEEE;
  text-align: center;
}
.field {
	text-align: center;
  background-color: #EEEEEE;
}
.example {/*親div*/
  position: relative;/*相対配置*/
  }

.example p {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:20px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;
  font-size: 2em;
  font-family :Quicksand, sans-serif;
  }

.example img {
  width: 100%;
  height: 50%;
  }
.MUSIC1 {
  background-image: image-url(MUSIC1.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
.MUSIC2 {
  background-image: image-url(MUSIC2.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
.MUSIC3 {
  background-image: image-url(MUSIC3.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
.MUSIC4 {
  background-image: image-url(MUSIC4.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
.MUSIC5 {
  background-image: image-url(MUSIC5.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
#container{
  height: 600px;
}
.about1 {
  background-image: image-url(about1.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
.about2 {
font-family: "MS Pゴシック" ;
  background-image: image-url(about2.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
.about3 {
  background-image: image-url(about3.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}
.about4 {
  background-image: image-url(about4.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: black;/*文字は白に*/
  font-size:30px;
}
.about5 {
  background-image: image-url(about5.jpg);
  position: relative;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-size:30px;
}


